body{
  background-color:blanchedalmond;
  margin-top: 5%;
  color: rgb(255, 153, 0);
}

#exchangeCurrency{
  background-color:  blanchedalmond;
  border-color: black;
  color:rgb(255, 153, 0);
}
#button{
  margin-top: 2%;
  background-color: blanchedalmond;
  color:rgb(255, 153, 0);
}

#results{
  margin-left: 50%;
  padding-left: 50%;
}
